section#beranda {
    background: url("../img/clipart/pattern.png");
    background-size: 100% auto;
    background-color: #74011f;
    min-height: 910px;
    position: relative;
    // background-blend-mode: soft-light;
    .container {
        padding-top: 190px;
        color: #ffdfb9;
        h1 {
            font-family: "Vidaloka";
            font-size: 52px;
            margin-bottom: 32px;
        }
        p {
            font-size: 22px;
            font-weight: 400;
            margin-bottom: 50px;
        }
        a.btn {
            padding: 18px 35px;
            background-color: #ffdfb9;
            color: #33000e;
            font-weight: 500;
            border-radius: 10px;
        }
    }

    img {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 85%;
        max-width: 1200px;
        transform: translate3d(-50%, 45%, 0);
        z-index: 2;
    }

    @media (max-width: 576px) {
        background-size: auto 100%;
        min-height: 95vh;
        .container {
            padding-top: 150px;
            color: #ffdfb9;
            h1 {
                font-family: "Vidaloka";
                font-size: 30px;
                margin-bottom: 32px;
            }
            p {
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}
